/* ==UserStyle==
@name           Pretty YouTube
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Pretty YouTube without excess stuff.
@author         benhatsor

@preprocessor stylus
@var checkbox show_creator_comments   'Only show comments liked by creator' 0
@var checkbox hide_info_cards   'Hide info cards' 0
@var checkbox hide_most_replayed   'Hide "most replayed" tooltips in video timelines' 0
@var checkbox hide_end_cards   'Hide end cards' 0
@var checkbox hide_verified_badges   'Hide verified badges' 1
@var checkbox hide_comment_counts   'Hide comment counts' 1
@var checkbox hide_subscribers   'Hide subscriber counts' 1
@var checkbox show_search   'Show search' 1
@var checkbox show_view_counts   'Show view counts' 1
@var checkbox show_comment_like_counts   'Show comment like counts' 1
@var checkbox hide_voice_search   'Hide voice search button' 1
@var checkbox muted_thumbnail_duration   'Subtle thumbnail duration indicators' 1
==/UserStyle== */
@-moz-document domain("youtube.com"), domain("m.youtube.com"), domain("youtube-nocookie.com") {
    ytd-masthead ytd-topbar-logo-renderer {
        pointer-events: none;
    }
    ytd-masthead ytd-topbar-logo-renderer {
        width: 60px !important;
    }
    ytd-topbar-logo-renderer yt-icon.ytd-logo#logo-icon svg > g:nth-of-type(1) path[fill="white"] {
        fill: #FF0000;
    }
    ytd-topbar-logo-renderer yt-icon.ytd-logo#logo-icon svg > g:nth-of-type(1) path:not([fill="white"]) {
        fill: #ff000024;
    }
    ytd-masthead ytd-topbar-logo-renderer #logo-icon #youtube-paths,
    ytd-masthead ytd-topbar-logo-renderer #logo-icon g:nth-of-type(2) {
        opacity: 0;
    }
    ytd-masthead #start #guide-button.ytd-masthead {
        padding-right: calc(61px + 8px + 8px + 8px + 8px);
        margin-right: -61px;
        padding-left: calc(8px + 8px);
        margin-left: -8px;
        cursor: pointer;
    }
    if (!show_search) {
        ytd-masthead #center.ytd-masthead {
            display: none;
        }
    }
    ytd-masthead ytd-searchbox.ytd-masthead {
        margin: 0;
    }
    if (hide_voice_search) {
        ytd-masthead ytd-searchbox.ytd-masthead {
          margin: 0;
          padding: 0;
          transform: translateX(-50%);
          left: 50%;
          position: absolute;
          width: 50%;
        }
    }

    ytd-masthead #container.ytd-searchbox {
        margin-left: 0;
        padding: 0 4px 0 16px !important;
    }
    ytd-masthead #search-icon.ytd-searchbox {
        display: none !important;
    }
    ytd-masthead #end.ytd-masthead {
        min-width: auto;
    }
    ytd-masthead #end #buttons ytd-topbar-menu-button-renderer {
        margin-right: 0;
    }
    ytd-masthead #end #buttons ytd-topbar-menu-button-renderer #button {
        display: none;
    }
    ytd-masthead #end #buttons ytd-notification-topbar-button-renderer {
        display: none;
    }
    ytd-masthead #end #buttons button:not(#avatar-btn) {
        display: none;
    }
    ytd-masthead #end #buttons .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
        color: var(--yt-spec-icon-active-other);
        border: 0;
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    if (hide_voice_search) {
        ytd-masthead #voice-search-button.ytd-masthead {
            display: none;
        }
    }
    #search-clear-button.ytd-searchbox {
        margin-right: 4px;
    }
    ytd-masthead ytd-searchbox[has-focus] #search-clear-button.ytd-searchbox {
        margin-right: 3px;
    }
    
    yt-searchbox .ytSuggestionComponentThumbnailContainer {
        display: none;
    }
    
    .sbdd_a {
        min-width: 50% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline:hover {
        background: transparent;
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline .yt-spec-button-shape-next__icon {
        margin-left: 0;
        margin-right: 0;
    }
    ytd-player .iv-branding,
    #player .html5-video-player .iv-branding {
        display: none;
    }
    if (hide_most_replayed) {
        ytd-player .ytp-heat-map-container {
            display: none !important;
        }
    }
    ytd-player .ytp-tooltip.ytp-rounded-tooltip.ytp-preview:not(.ytp-text-detail) {
        border-radius: 2px;
    }
    ytd-player .ytp-tooltip.ytp-rounded-tooltip.ytp-preview:not(.ytp-text-detail) .ytp-tooltip-bg {
        border-radius: 0;
    }
    ytd-player .ytp-next-button,
    ytd-player .ytp-prev-button,
    .html5-video-player .ytp-next-button,
    .html5-video-player .ytp-prev-button {
        display: none !important;
    }
    ytd-player .ytp-miniplayer-button,
    .html5-video-player .ytp-miniplayer-button {
        display: none !important;
    }
    ytd-player .ytp-subtitles-button:has(> svg[fill-opacity="0.3"]),
    #player .html5-video-player .ytp-subtitles-button:has(> svg[fill-opacity="0.3"]){
        display: none;
    }
    ytd-player .ytp-button:has(> .ytp-autonav-toggle-button-container .ytp-autonav-toggle-button:not([aria-checked=true])) {
        display: none;
    }
    ytd-player .ytp-autonav-toggle-button {
        background: none !important;
        width: 20.4px;
    }
    ytd-player .ytp-autonav-toggle-button[aria-checked=true]:after {
        transform: none;
        left: calc(50% + 1px);
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm1%2015h-2v-2h2v2zm0-4h-2V7h2v6z%22%2F%3E%3C%2Fsvg%3E');
    }
    ytd-player .ytp-settings-button.ytp-hd-quality-badge:after,
    #player .html5-video-player .ytp-settings-button.ytp-hd-quality-badge:after {
        display: none;
    }
    ytd-player .ytp-progress-bar:focus,
    #player .html5-video-player .ytp-progress-bar:focus {
        box-shadow: none !important;
    }
    ytd-player .ytp-doubletap-ui-legacy,
    #player .html5-video-player .ytp-doubletap-ui-legacy {
        display: none;
    }
    ytd-player .html5-endscreen,
    #player .html5-video-player .html5-endscreen {
        display: none;
    }
    ytd-player .ytp-caption-window-container .captions-text {
      transition: none !important;
    }
    ytd-player .ytp-ce-subscribe-container {
        display: none;
    }
    ytd-player .ytp-fullscreen-grid {
        display: none;
    }
    ytd-player .ytp-big-mode .ytp-gradient-top,
    ytd-player .ytp-big-mode .ytp-chrome-top {
        display: none;
    }
    ytd-player .ytp-big-mode .ytp-chrome-top,
    ytd-player .ytp-big-mode .ytp-chrome-controls .ytp-fullerscreen-edu-button.ytp-button {
        display: none;
    }
    .html5-video-player .ytp-cards-teaser {
        display: none !important;
    }
    .html5-video-player .ytp-cards-button .ytp-svg-shadow {
        stroke-opacity: .15 !important;
    }
    .html5-video-player .ytp-title-beacon {
        display: none !important;
    }
    ytd-watch-metadata.ytd-watch-flexy {
        margin-top: var(--ytd-margin-6x);
    }
    ytd-watch-metadata #title #super-title {
        display: none;
    }
    ytd-watch-metadata #title .yt-simple-endpoint {
        color: inherit;
    }
    ytd-watch-metadata #title h1,
    .yt-sans-28.yt-dynamic-sizing-formatted-string,
    ytd-engagement-panel-title-header-renderer[modern-panels]:not([ads-semantic-text]) #title-text.ytd-engagement-panel-title-header-renderer {
        font-family: "Roboto",sans-serif;
        font-weight: 400;
    }
    ytd-watch-metadata #sponsor-button {
        display: none !important;
    }
    ytd-watch-metadata .yt-simple-endpoint.ytd-video-owner-renderer {
        pointer-events: none;
    }
    ytd-shelf-renderer #title-container #play-button {
        opacity: .7;
    }
    ytd-watch-metadata #subscribe-button {
        display: none;
    }
    ytd-watch-metadata #actions ytd-menu-renderer *:not(yt-button-shape, yt-button-shape *, #flexible-item-buttons, .top-level-buttons, ytd-button-renderer, ytd-button-renderer *) {
        display: none !important;
    }
    ytd-watch-metadata #actions ytd-menu-renderer yt-button-shape button {
        background: transparent;
    }
    ytd-watch-metadata #actions ytd-button-renderer {
        width: 36px;
    }
    ytd-watch-metadata #actions ytd-button-renderer .yt-spec-button-shape-next__icon {
        margin-right: 0;
        margin-left: 0;
    }
    ytd-watch-metadata #actions ytd-button-renderer:has(> yt-button-shape button[aria-label="Share"]),
    ytd-watch-metadata #actions ytd-button-renderer:has(> yt-button-shape button[aria-label="Clip"]),
    ytd-watch-metadata #actions ytd-button-renderer:has(> yt-button-shape button[aria-label="Thanks"]) {
        display: none;
    }
    ytd-watch-metadata #owner-sub-count {
        display: none !important;
    }
    if (hide_verified_badges) {
        ytd-channel-name ytd-badge-supported-renderer {
            display: none !important;
        }
    }
    ytd-watch-metadata #description.ytd-watch-metadata {
        background: transparent !important;
        cursor: default !important;
    }
    ytd-watch-metadata #description.ytd-watch-metadata:has(> #description-inner ytd-text-inline-expander[is-expanded]) {
        cursor: unset !important;
    }
    ytd-watch-metadata #description.ytd-watch-metadata yt-interaction {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata #description-inner {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    ytd-watch-metadata #description.ytd-watch-metadata #info-container {
        margin-bottom: var(--ytd-margin-2x);
        color: var(--disabled-text-color);
    }
    ytd-watch-metadata #description.ytd-watch-metadata #info-container .yt-formatted-string {
        font-weight: 400;
    }
    #description-placeholder.ytd-watch-metadata {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata #info-container .yt-formatted-string:nth-of-type(5) {
         display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata #info-container + tp-yt-paper-tooltip[for="info"] {
        display: none;
    }
    if (!show_view_counts) {
        #view-count.ytd-watch-info-text {
            display: none;
        }
    }
    ytd-watch-metadata #description.ytd-watch-metadata .yt-simple-endpoint[href^="/hashtag"] {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata #expand {
        display: block;
        color: var(--yt-spec-text-secondary);
    }
    ytd-watch-metadata #description.ytd-watch-metadata #collapse {
        color: var(--yt-spec-text-secondary);
    }
    ytd-watch-metadata #description.ytd-watch-metadata :is(#expand, #collapse) paper-ripple {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata :is(#expand, #collapse):active,
    .more-button.ytd-comment-renderer:active, .more-button.ytd-backstage-post-renderer:active,
    .less-button.ytd-comment-renderer:active, .less-button.ytd-backstage-post-renderer:active,
    .more-button.ytd-comment-view-model:active, .less-button.ytd-comment-view-model:active {
        color: var(--yt-spec-text-primary);
    }
    .more-button.ytd-comment-renderer, .more-button.ytd-backstage-post-renderer,
    .less-button.ytd-comment-renderer, .less-button.ytd-backstage-post-renderer,
    .more-button.ytd-comment-view-model, .less-button.ytd-comment-view-model {
        text-decoration: none !important;
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"] ytd-video-description-music-section-renderer:last-of-type {
        padding-bottom: 0;
    }
    ytd-watch-metadata ytd-rich-list-header-renderer #title.ytd-rich-list-header-renderer {
        font-weight: 400 !important;
    }
    ytd-watch-metadata ytd-rich-list-header-renderer #navigation-button .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
        opacity: .7;
        margin-right: -16px;
        background: transparent !important;
    }
    ytd-watch-metadata ytd-rich-list-header-renderer #navigation-button .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:active {
        opacity: 1 !important;
    }
    ytd-watch-metadata ytd-rich-list-header-renderer #navigation-button .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text yt-touch-feedback-shape {
        display: none !important;
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"] ytd-info-row-renderer:last-of-type {
        border-bottom: 0;
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"] #premium-upsell-link {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"] #topic-link {
        display: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"] ytd-video-description-music-section-renderer yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
        color: inherit;
        cursor: default;
        pointer-events: none;
    }
    ytd-watch-metadata #description.ytd-watch-metadata ytd-video-description-infocards-section-renderer > *:not(#infocards-section.ytd-video-description-infocards-section-renderer) {
        display: none;
    }
    ytd-video-description-infocards-section-renderer {
        display: none;
    }
    #infocards-section.ytd-video-description-infocards-section-renderer ytd-compact-infocard-renderer.ytd-video-description-infocards-section-renderer:last-of-type {
        margin-bottom: 0;
    }
    ytd-watch-metadata #description.ytd-watch-metadata ytd-video-description-infocards-section-renderer:has(#infocards-section.ytd-video-description-infocards-section-renderer:empty) {
        padding: 0;
    }
    ytd-watch-metadata #description.ytd-watch-metadata ytd-structured-description-content-renderer.ytd-watch-metadata #footer-section.ytd-horizontal-card-list-renderer {
        display: none;
    }
    
    if (hide_info_cards) {
        ytd-watch-metadata #description.ytd-watch-metadata ytd-video-description-infocards-section-renderer {
            display: none;
        }
        .ytp-chrome-top .ytp-cards-button {
            display: none;
        }
    }
    ytd-watch-metadata #description.ytd-watch-metadata div[slot="extra-content"].style-scope.ytd-watch-metadata ytd-structured-description-content-renderer #items > *:not(ytd-video-description-transcript-section-renderer) {
        display: none;
    }
    
    #container.ytd-playlist-panel-renderer {
        border: 0;
    }
    ytd-merch-shelf-renderer {
        display: none;
    }
    
    
    /* Video player fixes */

    ytd-watch-flexy[flexy]:not([full-bleed-player]) #player-container-outer.ytd-watch-flexy {
        max-width: unset;
        min-width: var(--ytd-watch-flexy-min-player-width);
    }

    ytd-watch-flexy[flexy]:not([full-bleed-player]) #player-container-inner.ytd-watch-flexy {
        padding-top: 0;
    }

    ytd-watch-flexy[flexy]:not([full-bleed-player]) #player-container.ytd-watch-flexy {
        position: relative;
        margin: auto;
    }

    ytd-watch-flexy[flexy]:not([full-bleed-player]) .html5-video-player .video-click-tracking, .html5-video-player .video-stream {
        position: relative;
        left: 0 !important;
        margin: auto;
    }
    
    /* utilize the accurate width of the bottom bar to resize the player: */

    ytd-watch-flexy[flexy]:not([full-bleed-player]) .ytp-chrome-bottom {
        position: relative;
        margin: 0 12px;
        margin-top: calc(-48px - 3px); /* (this element has padding-top: 3px set) */
        height: 48px !important;
        left: 0 !important;
    }
    
    ytd-watch-flexy[flexy]:not([full-bleed-player]) .html5-video-player.ytp-small-mode .ytp-chrome-bottom {
        margin-top: calc(-36px - 3px); /* (this element has padding-top: 3px set) */
        height: 36px !important;
    }
    
    ytd-watch-flexy[flexy]:not([full-bleed-player]) .html5-video-player {
        width: max-content;
        margin: auto;
    }
    
    
    /* fix fine scrubbing */
    .ytp-fine-scrubbing-container {
        z-index: 1;
    }
    
    /* End video player fixes */
    
    ytd-watch-flexy[flexy] .ytp-load-progress {
        display: none;
    }
    ytd-watch-flexy[flexy][js-panel-height_] #playlist.ytd-watch-flexy {
        transition: .1s cubic-bezier(0,0,0.2,1);
        overflow: hidden;
        border-radius: 12px;
    }
    ytd-watch-flexy[flexy][js-panel-height_] #playlist.ytd-watch-flexy[collapsed] {
      max-height: 66px !important;
    }
    ytd-engagement-panel-title-header-renderer #header {
        padding-left: 0;
    }
    ytd-engagement-panel-title-header-renderer[modern-panels] #title-text.ytd-engagement-panel-title-header-renderer,
    ytd-playlist-panel-renderer[modern-panels]:not([hide-header-text]) .title.ytd-playlist-panel-renderer {
        font-weight: 400;
        font-family: inherit;
        font-size: 1.8rem;
    }
    ytd-engagement-panel-title-header-renderer #visibility-button button {
        margin-right: calc(16px - (40px / 2 - 24px / 2));
    }
    ytd-playlist-panel-video-renderer[selected][use-color-palette], ytd-playlist-panel-video-renderer[selected][use-color-palette]:hover:not(.dragging),
    ytd-macro-markers-list-item-renderer:hover, ytd-macro-markers-list-item-renderer[active] {
        background-color: var(--yt-spec-badge-chip-background);
    }
    ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .header.ytd-playlist-panel-renderer {
        background-color: var(--yt-spec-brand-background-primary);
        --iron-icon-fill-color: var(--yt-spec-text-primary);
    }
    ytd-playlist-panel-video-renderer[selected][use-color-palette] #video-title.ytd-playlist-panel-video-renderer,
    ytd-macro-markers-list-item-renderer:not([carousel-type=MACRO_MARKERS_LIST_ITEM_RENDERER_CAROUSEL_TYPE_TEXT_ONLY]) h4.ytd-macro-markers-list-item-renderer{
        color: var(--yt-spec-text-primary);
    }
    ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .title.ytd-playlist-panel-renderer, ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] #next-video-title.ytd-playlist-panel-renderer {
        --yt-endpoint-color: inherit;
        color: var(--yt-spec-text-primary);
    }
    ytd-playlist-panel-video-renderer[selected][use-color-palette] #index.ytd-playlist-panel-video-renderer, ytd-playlist-panel-video-renderer[selected][use-color-palette] #byline.ytd-playlist-panel-video-renderer, ytd-playlist-panel-video-renderer[selected][use-color-palette] #video-info.ytd-playlist-panel-video-renderer {
        color: var(--yt-spec-text-secondary);
    }
    ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .byline-title.ytd-playlist-panel-renderer, ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .publisher.ytd-playlist-panel-renderer, ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .publisher.ytd-playlist-panel-renderer:not([is-empty]).ytd-playlist-panel-renderer+.index-message-wrapper.ytd-playlist-panel-renderer::before, ytd-playlist-panel-renderer[collapsible][collapsed][use-color-palette] .index-message-wrapper.ytd-playlist-panel-renderer {
        --yt-endpoint-color: var(--yt-spec-text-secondary);
        --yt-endpoint-visited-color: var(--yt-spec-text-secondary);
        color: var(--yt-spec-text-secondary);
    }
    yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:visited {
        color: var(--yt-endpoint-color,var(--yt-spec-text-primary));
    }
    ytd-macro-markers-list-item-renderer:hover #time.ytd-macro-markers-list-item-renderer, ytd-macro-markers-list-item-renderer[active] #time.ytd-macro-markers-list-item-renderer {
        color: var(--yt-spec-themed-blue);
        background-color: var(--yt-spec-suggested-action);
    }
    .html5-video-player ytp-featured-product,
    .html5-video-player .ytp-button.ytp-suggested-action-badge.ytp-suggested-action-badge-content-forward.ytp-suggested-action-badge-with-controls {
        display: none !important;
    }
    .ytp-suggested-action-badge {
        display: none !important;
    }
    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
        color: var(--yt-spec-text-primary) !important;
    }
    .index-message-wrapper.ytd-playlist-panel-renderer {
        opacity: .72;
    }
    #content.ytd-engagement-panel-section-list-renderer ytd-macro-markers-info-item-renderer {
        height: 40px;
        position: relative;
        padding-right: calc(40px + 8px);
    }
    #content.ytd-engagement-panel-section-list-renderer ytd-macro-markers-info-item-renderer #menu {
        position: absolute;
        right: 0;
    }
    
    ytd-watch-flexy #ytd-player.ytd-watch-flexy {
        border-radius: 0 !important;
    }
    
    ytd-watch-flexy #columns.ytd-watch-flexy {
        justify-content: center;
        margin: 0 var(--ytd-margin-6x) !important;
    }
    
    ytd-watch-flexy #primary {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        box-sizing: border-box;
    }
    ytd-watch-flexy #secondary {
          width: unset !important;
          min-width: 0 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          max-width: var(--ytd-watch-flexy-sidebar-width) !important;
    }
    
    ytd-watch-flexy[flexy] #secondary.ytd-watch-flexy:has(> #secondary-inner ytd-engagement-panel-section-list-renderer[visibility=ENGAGEMENT_PANEL_VISIBILITY_EXPANDED]:not([dialog])) #panels {
          margin-left: var(--ytd-margin-6x);
    }
    ytd-watch-flexy[flexy] #secondary ytd-live-chat-frame, ytd-watch-flexy[flexy] ytd-playlist-panel-renderer:not([hidden]), ytd-watch-flexy[flexy] #secondary ytd-donation-shelf-renderer {
          margin-left: var(--ytd-margin-6x);
    }
    ytd-watch-flexy[flexy] #secondary ytd-live-chat-frame {
        width: 100%;
    }
    ytd-watch-flexy #related {
        display: none;
    }
    .badge.ytd-badge-supported-renderer {
        border-radius: 3.5px;
    }
    .badge-style-type-ypc.ytd-badge-supported-renderer {
        display: none;
    }
    ytd-donation-shelf-renderer[modern-panels] #header-text.ytd-donation-shelf-renderer {
        font-family: inherit;
        font-weight: 400;
    }
    ytd-metadata-row-container-renderer {
        display: none;
    }
    ytd-comments ytd-comments-header-renderer {
        margin: 0;
        border-top: 1px solid var(--yt-spec-10-percent-layer);
        padding-top: var(--ytd-margin-6x);
        padding-bottom: var(--ytd-margin-11x);
    }
    ytd-comments ytd-comments-header-renderer #title {
        margin-bottom: var(--ytd-margin-8x);
    }
    ytd-comments ytd-comments-header-renderer #title #count .count-text {
        font-weight: 400;
    }
    if (hide_comment_counts) {
        ytd-comments ytd-comments-header-renderer #title #count .count-text .yt-formatted-string:first-of-type {
            display: none;
        }
        
        ytd-shorts #shorts-panel-container.ytd-shorts #header #title.ytd-engagement-panel-title-header-renderer #contextual-info.ytd-engagement-panel-title-header-renderer {
          display: none;
        }
    }
    ytd-comments ytd-comments-header-renderer #title #sort-menu {
        display: none;
    }
    ytd-comments ytd-comments-header-renderer ytd-comment-simplebox-renderer {
        margin-right: 0;
    }
    ytd-comments ytd-comments-header-renderer #author-thumbnail.ytd-comment-simplebox-renderer, #author-thumbnail.ytd-comment-view-model {
        display: none;
    }
    ytd-comments ytd-comments-header-renderer #placeholder-area.ytd-comment-simplebox-renderer {
        opacity: .7;
    }
    ytd-comments ytd-comment-thread-renderer {
        margin-bottom: calc(16px + 20px);
    }
    if (!show_creator_comments) {
        ytd-comments ytd-comment-thread-renderer #expander-contents :is(ytd-comment-renderer, ytd-comment-view-model):not(:last-of-type) {
            margin-bottom: calc(16px + 20px);
        }
    }
    if (show_creator_comments) {
        ytd-comments ytd-comment-thread-renderer:not(:has(ytd-creator-heart-renderer)):not(:has(ytd-author-comment-badge-renderer[creator])):not(:has(ytd-pinned-comment-badge-renderer)) {
            display: none;
        }
        ytd-comments ytd-comment-thread-renderer ytd-comment-replies-renderer :is(ytd-comment-renderer, ytd-comment-view-model):not(:has(> #body ytd-creator-heart-renderer)):not(:has(> #body ytd-author-comment-badge-renderer[creator])):not(:has(> #body ytd-pinned-comment-badge-renderer)) {
            display: none;
        }
    }
    ytd-comments ytd-comment-thread-renderer #replies:not(:has(> ytd-comment-replies-renderer #creator-thumbnail.ytd-comment-replies-renderer)) {
        display: none;
    }
    ytd-comments ytd-comment-thread-renderer #expander.ytd-comment-replies-renderer .dot.ytd-comment-replies-renderer,
    #expander.ytd-comment-replies-renderer .expander-header.ytd-comment-replies-renderer[teaser] #less-replies.ytd-comment-replies-renderer,
    #expander.ytd-comment-replies-renderer .expander-header.ytd-comment-replies-renderer[teaser] #more-replies.ytd-comment-replies-renderer {
        display: none;
    }
    ytd-comments ytd-comment-thread-renderer #expander-contents :is(ytd-comment-renderer, ytd-comment-view-model) {
        margin-left: var(--ytd-margin-5x);
    }
    if (show_creator_comments) {
        ytd-comments ytd-comment-thread-renderer #expander-contents :is(ytd-comment-renderer, ytd-comment-view-model):not(:has(ytd-author-comment-badge-renderer[creator])) {
            display: none;
        }
    }
    ytd-comments ytd-comment-thread-renderer #expander-contents #contents {
        border-top: 0;
        padding-top: var(--ytd-margin-2x);
    }
    ytd-comments ytd-comment-thread-renderer:has(> :is(ytd-comment-renderer, ytd-comment-view-model) ytd-author-comment-badge-renderer[creator]) #action-buttons:not(:has(> #toolbar ytd-creator-heart-renderer)) #toolbar,
    ytd-comments :is(ytd-comment-renderer, ytd-comment-view-model):has(> #body ytd-author-comment-badge-renderer[creator]) #action-buttons:not(:has(> #toolbar ytd-creator-heart-renderer)) #toolbar {
        display: none;
    }
    ytd-comments ytd-comment-thread-renderer #toolbar ytd-toggle-button-renderer,
    ytd-comments ytd-comment-thread-renderer #toolbar #vote-count-middle {
        display: none;
    }
    ytd-comments ytd-comment-thread-renderer #reply-button-end {
        display: none;
    }
    ytd-comments ytd-author-comment-badge-renderer #icon.ytd-author-comment-badge-renderer {
        display: none;
    }
    ytd-comments #author-thumbnail.ytd-comment-renderer {
        display: none;
    }
    ytd-comments ytd-comment-replies-renderer {
        margin-left: 0;
    }
    ytd-comments #paid-comment-background.ytd-comment-renderer {
        opacity: 0;
    }
    ytd-comments #paid-comment-chip.ytd-comment-renderer, #paid-comment-chip.ytd-comment-view-model {
        display: none;
    }
    
    ytd-comments ytd-comment-view-model #action-menu.ytd-comment-view-model {
      opacity: 0;
    }

    ytd-comments ytd-comment-view-model:hover #action-menu.ytd-comment-view-model {
      opacity: 1;
    }
    
    #paid-comment-background.ytd-comment-view-model {
        display: none;
    }
    #sponsor-comment-badge.ytd-comment-view-model {
        display: none;
    }
    tp-yt-app-drawer {
        position: absolute;
    }
    tp-yt-app-drawer #guide-button.ytd-app {
        cursor: pointer;
    }
    tp-yt-app-drawer ytd-topbar-logo-renderer {
        pointer-events: none;
    }
    tp-yt-app-drawer ytd-topbar-logo-renderer #logo-icon svg {
        cursor: pointer;
        pointer-events: all !important;
    }
    ytd-topbar-logo-renderer #country-code {
        display: none;
    }
    tp-yt-app-drawer #sections ytd-guide-section-renderer:not(:nth-of-type(6)) {
        display: none;
    }
    ytd-app[frosted-glass-exp] tp-yt-app-drawer.ytd-app[persistent] {
        z-index: 2005;
    }
    #masthead-container.ytd-app {
        background: var(--yt-spec-base-background);
    }
    #masthead-container.ytd-app {
        position: fixed;
        top: 0;
    }
    #guide-wrapper.ytd-app {
        position: sticky;
        top: var(--ytd-masthead-height, var(--ytd-toolbar-height));
        height: auto;
    }
    #guide-inner-content.ytd-app {
        flex: unset;
    }
    #masthead-container.ytd-app:not(:has(> ytd-masthead #end #buttons .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline)) ~ tp-yt-app-drawer #sections ytd-guide-section-renderer:nth-of-type(5) {
        display: block;
    }
    tp-yt-app-drawer ytd-guide-signin-promo-renderer {
        display: none;
    }
    #guide-links-primary.ytd-guide-renderer {
        display: none;
    }
    #footer.ytd-guide-renderer > #copyright::after {
        content: '© PYT, MIT License';
        display: block;
    }
    yt-interaction.circular .fill.yt-interaction,
    yt-interaction.circular .stroke.yt-interaction {
        border-radius: 1000px;
    }
    #ticker.yt-live-chat-renderer {
        display: none;
    }
    #author-photo.yt-live-chat-text-message-renderer,
    #author-photo.yt-live-chat-paid-message-renderer {
        display: none;
    }
    #purchase-amount.yt-live-chat-paid-message-renderer {
        color: transparent;
        position: relative;
        width: 150.6px;
        height: 17.5px;
        display: block;
    }
    #purchase-amount.yt-live-chat-paid-message-renderer::after {
        content: 'Supported this creator';
        color: var(--yt-live-chat-paid-message-header-color,#fff);
        position: absolute;
        left: 0;
    }
    #purchase-amount.yt-live-chat-paid-message-renderer * {
        display: none;
    }
    ytd-player .ytp-exp-ppp-update .ytp-paid-content-overlay-chevron {
        display: none;
    }
    
    .html5-video-player:not(.ytp-color-party) .ytp-play-progress {
        background: var(--yt-spec-static-brand-red,#f03) !important;
    }

    .ytp-color-party .ytp-play-progress {
        background-image: none !important;
    }
    
    #teaser-carousel.ytd-watch-metadata {
        display: none;
    }
    
    ytd-app {
        background: var(--yt-spec-base-background);
    }
    #player.skeleton.flexy {
        padding-bottom: 0;
        margin-left: var(--ytd-margin-6x);
        margin-right: var(--ytd-margin-6x);
        padding-top: var(--ytd-margin-6x);
        padding-left: 0;
        padding-right: 0;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #player.skeleton.flexy #player-wrap {
        width: auto;
    }
    #player.skeleton.flexy #player-api {
        border-radius: 0 !important;
    }
    #player.skeleton.flexy .ytp-chrome-bottom {
        display: none;
    }
    #watch-page-skeleton {
        display: none !important;
        margin: 0;
        padding-left: var(--ytd-margin-6x);
        padding-right: var(--ytd-margin-6x);
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    #watch-page-skeleton #container {
        width: 100%;
        max-width: 800px;
    }
    .watch-skeleton {
        display: none !important;
    }
    .watch-skeleton .text-shell {
        border-radius: 8px;
    }
    .watch-skeleton #primary-info {
        height: auto;
        padding-top: var(--ytd-margin-6x);
        padding-bottom: 0;
    }
    .watch-skeleton #primary-info #title {
        margin-bottom: 0;
    }
    .watch-skeleton #primary-info #info #count {
        display: none;
    }
    .watch-skeleton #secondary-info #top-row #video-owner #channel-icon {
        margin-right: 12px;
    }
    .watch-skeleton #secondary-info #top-row #video-owner #upload-info #owner-name {
        margin-bottom: 0;
    }
    #watch-page-skeleton.watch-skeleton #secondary-info #top-row #video-owner #upload-info #published-date {
        display: none;
    }
    .watch-skeleton #primary-info .menu-button {
        display: none;
    }
    .watch-skeleton .skeleton-light-border-bottom {
        border-bottom: 0 !important;
    }
    .watch-skeleton #secondary-info {
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .watch-skeleton #secondary-info #top-row #subscribe-button {
        display: none;
    }
    
    ytd-engagement-panel-section-list-renderer ytd-transcript-renderer #footer {
        display: none;
    }
    ytd-engagement-panel-section-list-renderer ytd-transcript-search-panel-renderer {
        background: transparent;
    }
    ytd-engagement-panel-section-list-renderer ytd-transcript-segment-list-renderer {
        background: transparent;
    }
    ytd-engagement-panel-section-list-renderer:has(> div ytd-transcript-renderer) #header #title {
        opacity: 0.6;
    }
    ytd-engagement-panel-section-list-renderer .segment.ytd-transcript-segment-renderer {
        font-size: 1.925rem;
        font-size: 21.3333px;
        line-height: 1.5;
        font-weight: 400;
        padding: 0 16px;
        cursor: default;
        align-items: center;
    }
    ytd-engagement-panel-section-list-renderer .segment-text.ytd-transcript-segment-renderer {
        font-weight: 400 !important;
        margin-left: 0;
        outline: none;
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }
    ytd-engagement-panel-section-list-renderer .segment-start-offset.ytd-transcript-segment-renderer:has(.segment-timestamp.ytd-transcript-segment-renderer) {
        order: 1;
        margin-right: 0;
    }
    ytd-engagement-panel-section-list-renderer ytd-transcript-search-panel-renderer #header:has(ytd-transcript-search-box-renderer) {
        background: var(--yt-spec-brand-background-solid);
    }
    ytd-secondary-search-container-renderer {
        display: none !important;
    }
    #chip-bar.ytd-search-header-renderer {
        display: none !important;
    }
    #filter-button.ytd-search-header-renderer {
        margin-left: auto;
    }
    ytd-two-column-browse-results-renderer.ytd-browse[page-subtype="home"] {
        display: none;
    }
    ytd-mini-guide-renderer {
        display: none;
    }
    #home-page-skeleton,
    ytd-masthead *[slot="masthead-skeleton"] {
        display: none !important;
    }
    ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
        margin-left: 0;
    }
    #wrapper.tp-yt-app-header-layout > [slot=header] {
        left: 0;
    }
    if (hide_subscribers) {
        ytd-c4-tabbed-header-renderer[use-page-header-style] .meta-item.ytd-c4-tabbed-header-renderer:has(#subscriber-count) {
            display: none;
        }
    }
    #sponsor-button.ytd-c4-tabbed-header-renderer, #purchase-button.ytd-c4-tabbed-header-renderer {
        display: none;
    }
    #channel-container #buttons #subscribe-button button,
    #channel-container #buttons #sponsor-button button,
    ytd-channel-renderer #buttons #subscribe-button button,
    ytd-subscribe-button-renderer button,
    ytd-subscribe-button-renderer button:hover,
    #subscribe button,
    #subscribe-button a,
    #subscribe button:hover,
    #subscribe-button a:hover {
        background: transparent !important;
        border: 1px solid var(--yt-spec-10-percent-layer) !important;
        color: var(--yt-spec-text-primary) !important;
        font-weight: 400 !important;
    }
    .yt-spec-button-shape-next {
        font-weight: 400;
    }
    ytd-browse[page-subtype~=channels] ytd-two-column-browse-results-renderer.ytd-browse #primary ytd-message-renderer {
        padding-top: var(--ytd-margin-6x);
    }
    ytd-browse[page-subtype~=channels] ytd-two-column-browse-results-renderer.ytd-browse #primary #message.ytd-message-renderer {
        color: var(--disabled-text-color);
        opacity: .5;
    }
    ytd-search #title.ytd-shelf-renderer {
        font-weight: 400 !important;
        color: var(--yt-spec-text-secondary);
    }
    #header.ytd-video-description-transcript-section-renderer {
        display: none;
    }
    #sub-header.ytd-video-description-transcript-section-renderer {
        display: none;
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline:hover {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline:active:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
        color: inherit;
    }
    ytd-reel-shelf-renderer {
        display: none;
    }
    ytd-reel-shelf-renderer.ytd-item-section-renderer {
        display: none;
    }
    
    ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="trending"] ytd-item-section-renderer.style-scope.ytd-section-list-renderer:has(yt-horizontal-list-renderer) {
        display: none;
    }
    ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="trending"] ytd-item-section-renderer.style-scope.ytd-section-list-renderer:first-of-type:has(yt-horizontal-list-renderer) + ytd-item-section-renderer #contents.ytd-shelf-renderer {
        margin-top: 24px;
    }
    
    ytd-expandable-metadata-renderer[round-container] {
        background: transparent;
    }
    ytd-expandable-metadata-renderer[round-container]:not([is-expanded]) {
        opacity: .7;
    }
    ytd-thumbnail #hover-overlays {
        display: none;
    }
    if (muted_thumbnail_duration) {
        ytd-thumbnail #overlays ytd-thumbnail-overlay-time-status-renderer {
            opacity: .5;
        }
    }
    ytd-thumbnail #overlays ytd-thumbnail-overlay-time-status-renderer yt-icon {
        display: none;
    }
    ytd-thumbnail-overlay-time-status-renderer[overlay-style=SHORTS] #text.ytd-thumbnail-overlay-time-status-renderer {
        margin-left: 0;
    }
    ytd-thumbnail-overlay-time-status-renderer[overlay-style=SHORTS] #time-status.ytd-thumbnail-overlay-time-status-renderer #text.ytd-thumbnail-overlay-time-status-renderer {
        margin-left: 0;
    }
    ytd-radio-renderer {
        display: none;
    }
    
    ytd-search ytd-horizontal-card-list-renderer {
        display: none;
    }
    ytd-search #expandable-metadata ytd-horizontal-card-list-renderer {
        display: block;
    }
    if (hide_subscribers) {
        #metadata.ytd-channel-renderer :is(#dot, #video-count) {
            display: none;
        }
        .yt-content-metadata-view-model-wiz--inline .yt-content-metadata-view-model-wiz__metadata-row:nth-of-type(2) .yt-content-metadata-view-model-wiz__metadata-text:first-of-type,
        .yt-content-metadata-view-model-wiz--inline .yt-content-metadata-view-model-wiz__metadata-row:nth-of-type(2) .yt-content-metadata-view-model-wiz__delimiter {
          display: none;
        }
    }
    ytd-search ytd-exploratory-results-renderer.ytd-item-section-renderer, ytd-search ytd-horizontal-card-list-renderer.ytd-item-section-renderer, ytd-search ytd-reel-shelf-renderer.ytd-item-section-renderer, ytd-search grid-shelf-view-model.ytd-item-section-renderer {
      display: none;
    }
    
    ytd-search yt-official-card-view-model.ytd-item-section-renderer {
          background: transparent !important;
          border-bottom: 1px solid var(--yt-spec-10-percent-layer);
          padding-left: 0;
          padding-top: 0;
          padding-right: 0;
          border-radius: 0;
    }
    
    ytd-item-section-renderer[page-subtype="trending"] ytd-shelf-renderer:has(#title-container:not([hidden]))  {
        display: none;
    }
    
    ytd-item-section-renderer:not(:last-of-type) ytd-expanded-shelf-contents-renderer {
      margin-bottom: 0;
    }

    /*
    ytd-item-section-renderer:not(:first-of-type) #contents.ytd-shelf-renderer {
      margin-top: calc(24px / 2);
    }
    */

    /*
    .grid-subheader.ytd-shelf-renderer {
      margin-top: 0;
    }
    */

    ytd-backstage-post-thread-renderer {
        border: 0;
        border-bottom: 1px solid var(--yt-spec-10-percent-layer);
        border-radius: 0 !important;
        margin: 0;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    ytd-backstage-post-thread-renderer:last-of-type {
        border-bottom: 0;
    }
    ytd-comments-header-renderer[is-backstage] {
        margin: 0;
    }
    #author-thumbnail.ytd-backstage-post-renderer {
        display: none;
    }
    #header.ytd-backstage-post-renderer {
        margin-bottom: var(--ytd-margin-base);
    }
    #content-attachment.ytd-backstage-post-renderer {
        margin-top: var(--ytd-margin-3x);
    }
    .ytd-backstage-poll-renderer #sign-in.yt-simple-endpoint:last-of-type {
        padding-bottom: 0;
    }
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer > *:not(#reply-button-end) {
        display: none !important;
    }
    #action-buttons.ytd-backstage-post-renderer {
        margin-top: 0;
        min-height: unset;
    }
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer #reply-button-end ytd-button-renderer {
        margin-left: 0;
        margin-top: var(--ytd-margin-3x);
    }
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer #reply-button-end ytd-button-renderer .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
        padding: 8px;
        box-sizing: unset;
        width: 24px;
        height: 24px;
        border-radius: 40px;
        margin-left: -8px;
        opacity: .7;
    }
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer #reply-button-end ytd-button-renderer .yt-spec-button-shape-next--button-text-content {
        display: none;
    }
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer #reply-button-end ytd-button-renderer yt-icon,
    ytd-backstage-post-renderer #toolbar.ytd-comment-action-buttons-renderer #reply-button-end ytd-button-renderer .yt-spec-button-shape-next__icon {
        width: 24px !important;
        height: 24px !important;
        margin: 0;
    }
    if (show_comment_like_counts) {
        #vote-count-left.ytd-comment-action-buttons-renderer:not([hidden]), #vote-count-middle.ytd-comment-engagement-bar:not([hidden]) {
            display: inline-block !important;
            font-weight: 400;
            margin-left: 0;
            margin-top: 2px;
            text-transform: none;
        }
        #vote-count-left.ytd-comment-action-buttons-renderer::after, #vote-count-middle.ytd-comment-engagement-bar::after {
            content: ' likes';
            color: var(--yt-spec-text-disabled);
        }
        #toolbar.ytd-comment-engagement-bar {
            margin-left: 0;
        }
        ytd-comment-engagement-bar#action-buttons.ytd-comment-view-model:has(#vote-count-left.ytd-comment-action-buttons-renderer[hidden], #vote-count-middle.ytd-comment-engagement-bar[hidden]) {
            display: none;
        }
        
        ytd-comments ytd-comment-view-model:has(ytd-author-comment-badge-renderer[creator]) ytd-comment-engagement-bar#action-buttons:not(:has(ytd-creator-heart-renderer)) {
            display: none;
        }
    }
    #content-attachment.ytd-backstage-post-renderer ytd-video-renderer.ytd-backstage-post-renderer, #content-attachment.ytd-backstage-post-renderer ytd-playlist-renderer.ytd-backstage-post-renderer {
        border-radius: 4px;
    }
    yt-img-shadow.ytd-backstage-image-renderer {
        --yt-img-border-radius: 14px;
    }
    ytd-menu-renderer.ytd-video-renderer {
        margin-top: -8px;
        margin-right: -8px;
    }
    ytd-video-renderer #channel-name.ytd-video-meta-block::after {
        content: ' · ';
        margin-left: 4px;
        margin-right: 4px;
    }
    ytd-backstage-poll-renderer:not([is-image-poll]) .choice-info.ytd-backstage-poll-renderer {
        border-color: var(--yt-spec-10-percent-layer);
    }
    if (!show_view_counts) {
        ytd-video-meta-block:not([inline-badges]) #metadata-line.ytd-video-meta-block span.ytd-video-meta-block:first-of-type {
            display: none;
            }
        #metadata-line.ytd-video-meta-block > .ytd-video-meta-block:not(:first-of-type):before,
        ytd-grid-video-renderer:not([inline-badges]) #metadata-line.ytd-grid-video-renderer span.ytd-grid-video-renderer:first-of-type,
        #metadata-line.ytd-grid-video-renderer>.ytd-grid-video-renderer:not(:first-of-type):before,
        #video-info.ytd-video-meta-block .yt-formatted-string:is(:first-of-type, :nth-of-type(2)) {
            display: none;
        }
        .metadata-stats.ytd-playlist-byline-renderer .byline-item.ytd-playlist-byline-renderer:nth-of-type(2) {
            display: none;
        }
    }
    #expandable-metadata.ytd-video-renderer {
        display: none;
    }
    #bottom-grid.ytd-watch-grid {
        display: none !important;
    }
    #secondary.ytd-watch-grid {
        width: auto;
        margin: calc(var(--ytd-watch-grid-horizontal-page-margins) * 2)
    }
    #columns.ytd-watch-grid {
        flex-direction: column;
    }
    #primary.ytd-watch-grid {
        margin-left: auto;
        margin-right: auto;
    }
    #label.keyboard-focus.yt-dropdown-menu .yt-dropdown-menu[style-target=label-text] {
        font-weight: 400;
    }
    #recaptcha + button.yt-uix-button.yt-uix-button-size-default.yt-uix-button-primary.style-scope.ytd-channel-about-metadata-renderer {
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        padding: 8px 10px;
        border-radius: 100px;
        font-family: inherit;
        margin-top: 8px;
        color: var(--text-primary-color);
        background: var(--yt-spec-10-percent-layer);
        cursor: pointer;
    }
    #email.ytd-channel-about-metadata-renderer, #email-container.ytd-channel-about-metadata-renderer a.ytd-channel-about-metadata-renderer {
        text-decoration: none;
    }
    ytd-recognition-shelf-renderer {
        display: none;
    }
    ytd-section-list-renderer:not([hide-bottom-separator]):not([page-subtype=history]):not([page-subtype=memberships-and-purchases]):not([page-subtype=ypc-offers]) #contents.ytd-section-list-renderer>*.ytd-section-list-renderer:not(:last-child):not(ytd-page-introduction-renderer):not([item-dismissed]).ytd-section-list-renderer:not([has-destination-shelf-renderer]).ytd-section-list-renderer:not(ytd-minor-moment-header-renderer) {
        border-bottom: 0;
    }
    #links-holder.ytd-c4-tabbed-header-renderer {
        opacity: .7;
    }
    #links-holder.ytd-c4-tabbed-header-renderer:hover {
        opacity: 1;
    }
    #links-holder.ytd-c4-tabbed-header-renderer img.yt-img-shadow {
        border-radius: 4px;
    }
    .yt-core-attributed-string--highlight-text-decorator {
        background: transparent !important;
        color: #3ea6ff;
    }
    .yt-core-attributed-string--highlight-text-decorator img.yt-core-attributed-string__image-element.yt-core-image {
        filter: grayscale(1);
    }
    yt-chip-cloud-chip-renderer #chip-container {
        color: var(--text-primary-color) !important;
        background: transparent !important;
        opacity: .8;
    }
    yt-chip-cloud-chip-renderer[selected] #chip-container {
        background: var(--yt-spec-10-percent-layer) !important;
        opacity: 1;
    }
    ytd-thumbnail a.ytd-thumbnail,
    ytd-thumbnail:before,
    ytd-playlist-thumbnail a.ytd-playlist-thumbnail,
    ytd-playlist-thumbnail:before,
    .image-wrapper.ytd-hero-playlist-thumbnail-renderer,
    .html5-video-player .ytp-ce-video,
    .html5-video-player .ytp-ce-playlist,
    .html5-video-player .ytp-ce-expanding-overlay-background,
    ytd-watch-grid[rounded-player-large][default-layout] #ytd-player.ytd-watch-grid {
        border-radius: 0 !important;
    }
    ytd-channel-video-player-renderer[rounded] #player.ytd-channel-video-player-renderer {
        border-radius: 0;
    }
    ytd-playlist-video-renderer[amsterdam] {
        border-radius: 4px;
    }
    ytd-browse[page-subtype=playlist][amsterdam] ytd-playlist-header-renderer.ytd-browse {
        margin-left: 0;
    }
    ytd-playlist-video-list-renderer {
        margin-right: 40px;
    }
    ytd-browse[page-subtype=playlist][amsterdam] ytd-two-column-browse-results-renderer.ytd-browse {
        margin-left: 20px;
    }
    ytd-hero-playlist-thumbnail-renderer ytd-thumbnail-overlay-hover-text-renderer {
        transition: none;
    }
    .immersive-header-container.ytd-playlist-header-renderer {
        padding-top: calc(8px + 8px);
    }
    .immersive-header-background-wrapper.ytd-playlist-header-renderer {
        opacity: 0;
    }
    body {
        overflow-y: auto;
    }
    
    .animated-rolling-number-wiz {
        font-weight: inherit;
    }
    
    yt-reel-metapanel-view-model yt-shorts-suggested-action-view-model.YtShortsSuggestedActionViewModelStaticHost,
    yt-reel-metapanel-view-model .YtReelChannelBarViewModelReelSubscribeButton {
        display: none;
    }
    ytd-reel-video-renderer {
        margin-bottom: 0;
    }
    ytd-reel-video-renderer:not([is-active]) {
        display: none;
    }
    ytd-shorts {
        --ytd-shorts-player-height: calc(100vh - 77px);
    }
    .navigation-container.ytd-shorts {
        display: none;
    }
    ytd-shorts #shorts-container.ytd-shorts {
        overflow: hidden !important;
    }
    ytd-reel-player-overlay-renderer #actions.ytd-reel-player-overlay-renderer :is(#like-button, #dislike-button, #share-button, #pivot-button, #remix-button) {
        display: none;
    }
    ytd-reel-player-overlay-renderer #actions.ytd-reel-player-overlay-renderer {
        padding-bottom: 8px !important;
    }
    ytd-shorts yt-reel-metapanel-view-model .ytShortsSuggestedActionViewModelDynamicHost {
        display: none;
    }
    ytd-shorts yt-reel-metapanel-view-model .ytReelChannelBarViewModelReelSubscribeButton {
        display: none;
    }
    ytd-shorts[enable-new-carousel] .reel-video-in-sequence-new.ytd-shorts {
        height: auto;
    }
    
    .ytp-tooltip-text-wrapper,
    tp-yt-paper-tooltip {
        display: none !important;
    }
    .html5-video-player .ytp-tooltip-text-wrapper {
        display: block !important;
    }
    .html5-video-player .ytp-tooltip-text-wrapper .ytp-tooltip-edu {
        display: none !important;
    }
    ytd-modal-with-title-and-button-renderer[modal] {
        border-radius: 12px;
        min-width: auto;
    }
    #title.ytd-modal-with-title-and-button-renderer,
    #content.ytd-modal-with-title-and-button-renderer {
        display: none;
    }
    #cancel-button.yt-confirm-dialog-renderer, #confirm-button.yt-confirm-dialog-renderer, #checkbox-enabled-confirm-button.yt-confirm-dialog-renderer {
        margin-left: 0;
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
        background-color: var(--yt-spec-10-percent-layer);
    }
    #action-button.yt-mealbar-promo-renderer,
    #dismiss-button.yt-mealbar-promo-renderer {
        margin: 0;
    }
    ytd-report-channel-modal-header-renderer {
        border-top: 0;
    }
    
    ytd-video-renderer #channel-info {
        pointer-events: none;
    }
    ytd-video-renderer #channel-info ytd-channel-name {
        pointer-events: all;
    }
    ytd-channel-name {
        z-index: 0 !important;
    }
    ytd-video-renderer ytd-badge-supported-renderer:not(:has(.badge-style-type-ad)) {
        display: none;
    }
    ytd-badge-supported-renderer:not(:has(.badge-style-type-ad)) {
        display: none;
    }
    
    if (hide_end_cards) {
        .html5-video-player .ytp-ce-element {
            display: none;
        }
    }
    
    #player .html5-video-player .ytp-pause-overlay-container {
        display: none;
    }
    #player .html5-video-player .ytp-impression-link {
        display: none;
    }
    #player .html5-video-player .ytp-title-channel .ytp-title-expanded-subtitle {
        display: none;
    }
    #player .html5-video-player .ytp-chrome-top :is(.ytp-watch-later-button, .ytp-share-button) {
        display: none;
    }
    #player .html5-video-player .ytp-chrome-top .ytp-title-channel .ytp-sb {
        display: none;
    }
    #player .html5-video-player .ytp-button.ytp-youtube-button {
        display: none;
    }
    
    #player .html5-video-player *:not(a[href])  {
        -webkit-user-drag: none;
    }
    
}
